
<div class="container">
  <div class="banner">yes</div>
  <h1>Stupid Coaching</h1>
    <p><%= @ask %></p>
    <p>— You</p>
    <p><%= @answer %></p>
    <p>— Your coach</p>

  <%= link_to "An other question", ask_path %>
</div>
